#!/bin/sh

## 'MT27800 Family [ConnectX-5] 1017'
## if=enp1s0np1 drv=mlx5_core unused=igb_uio,vfio-pci,uio_pci_generic
ETH=enp1s0np1
PCI=0000:01:00.0
SIP=10.120.101.111/24

DRIVER=vfio-pci
HUGESIZE=2048

DPDK_VERSION=24.11.3
DPDK_ROOT=/usr/local
DEVBIND=$DPDK_ROOT/bin/dpdk-devbind.py
DPDKPY=lib/pcpp/setup_dpdk.py
